*
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body {
    background-color: lightyellow;
}


h1 {
    text-align: center;
    padding: 10px;
}

div {
    display: flex;
    justify-content: center;
}

.links {
     display: flex;
     justify-content: center;
     
}

 a {
    color: #000;
    font-size: 20px;
}

.credit {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    }


 
 #pageone 
    {
    background-color: rgb(244, 209, 214);
    }

    img 
  {
    height: auto;
    width: 600px;
    margin: auto;
    display: block;
       }

    #pageone .div
    {
        text-align: center;
    }

    .description
    {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    ul {
        text-align: center;
    }

     .numbers {
        text-align: center;
        list-style-position: inside;
        }

 
    li {
        text-align: center;
        
        }
    
    .fruit {
            text-align: center;
        }

    .others {
        text-align: center;
    }

    .color  {
        color: lightsalmon ;
    }

    .color2 {
        color: lightsalmon;
    }



    #pagetwo {
        background-color: rgb(231, 191, 138);
    }

     img {
    height: auto;
    width: 500px;
    margin: auto;
    display: block;
    }
    
    p {
        text-align: center;
    }

    ul {
        list-style-position:inside;
        
        }
    
    .center {
            text-align: center;
            list-style: inside;
        }
    
    h3     {
            text-align: center;
            color: rgb(249, 77, 51);
            font-style: italic;
           }


        #pagethree {
            background-color: rgb(247, 194, 247);
        }
        
        
        h4 {
            text-align: center;
            font-style: italic;
            color: rgb(127, 77, 77)
        }

        #pagethree img {
            
            height: 450px;
            width: 450px;
            margin: auto;
            display: block;
        }

        ol {
            list-style-position: inside;
            padding: 20px ;
    
        }

        ol li {
            padding: 5px;
        }

        
        
        


    

