 @import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@0;1&family=Source+Sans+Pro:ital,wght@1,200;1,400&display=swap');

*
{
    font-family: "Times New Roman";
    font-size: 18px;
}

body {
    background-color: lightyellow;
}


h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Brygada 1918', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}
h2 {
    font-size: 22px;
    font-family: 'Brygada 1918', serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center
}
div {
    display: flex;
    justify-content: center;
}

.links {
     display: flex;
     justify-content: center;
     
}

 a {
    color: #000;
    font-size: 20px;
}

.credit {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    }


 
 #pageone 
    {
    background-color: rgb(244, 209, 214);
    }

    img 
  {
    height: auto;
    width: 600px;
    margin: auto;
    display: block;
       }

    #pageone .div
    {
        text-align: center;
    }

    .description
    {
        text-align: center;
    }

    ul {
        text-align: center;
    }

     .numbers {
        text-align: center;
        list-style-position: inside;
        }

 
    li {
        text-align: center;
        padding: 5px;
        
        }
    
    .fruit {
            text-align: center;
        }

    .others {
        text-align: center;
    }

    .color  {
        color: lightsalmon ;
    }

    .color2 {
        color: lightsalmon;
    }



#pagetwo {
        background-color: rgb(231, 191, 138);
    }

     img {
    height: auto;
    width: 500px;
    margin: auto;
    display: block;
    }
    
    p {
        text-align: center;
    }

    ul {
        list-style-position:inside;
       display: inline;
        }
    
    .center {
            text-align: center;
            list-style: inside;
        }
    
    h3     {
            text-align: center;
            color: rgb(249, 77, 51);
            font-style: italic;
           }


    #pagethree {
            background-color: rgb(247, 194, 247);
        }
        
        
        h4 {
            text-align: center;
            font-style: italic;
            color: rgb(127, 77, 77)
        }

        #pagethree img {
            
            height: 450px;
            width: 450px;
            margin: auto;
            display: block;
        }

        ol li {
            list-style-position: inside;
            padding: 5px ;
        }


        .home-btn {
            background-color:rgb(240, 180, 213);
            border-radius: 10px;
            
        }


    

