
body {
    background-color: lightyellow;
}


h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

.links {
     display: flex;
     justify-content: center;
}


 a {
    color: #000;
    font-size: 20px;
}

.credit {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    }


 
 #pageone 
    {
    background-color: rgb(244, 209, 214);
    }

 #pageone img 
    {
    height: auto;
    width: 600px;
    margin: auto;
    display: block;
    }

    #pageone .div
    {
        text-align: center;
    }

    .description
    {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    ul {
        text-align: center;
        }

    .numbers {
        text-align: center;
        list-style-position: inside;
        }

 
    li {
        text-align: center;
        }
    
    .fruit {
            text-align: center;
        }

    .others {
        text-align: center;
    }